.footer {
  width: 100%;

  background-color: $colorSec;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rem(0) rem(0) rem(-5) rem(5) rgba(0, 0, 0, 0.205);
  margin-top: rem(30);

  &__menu {
    padding: rem(30);
    font-size: rem(10);
    line-height: 1.5;
  }
  &__logo {
    padding: rem(30);
    justify-self: end;
    align-self: end;

    &--img {
      height: rem(35);
    }
  }
}
