.main {
  width: 100%;
  position: relative;
  top: rem(60);

  &__hero {
    margin: rem(20) 0 rem(10) 0;
    &--img {
      width: 100%;
      height: rem(250);
    }
  }
  &__articles {
    display: flex;
    flex-direction: column;
  }
  &__article {
    background-color: $colorSec;
    margin: rem(5) rem(10) rem(5) rem(10);
    padding: rem(5) rem(10) rem(5) rem(10);
    &--img {
      width: 100%;
    }
    &-text {
    }
  }
}
